:root {
  /* Modo Claro */
  --cor-claro-fundo-principal: #ffffff;
  --cor-claro-fundo-secundario: #f0f0f0;
  --cor-claro-texto: #242833;
  --cor-claro-destaque: #2980b9;
  --cor-claro-destaque-btn: #b2b2b2;
  --cor-claro-destaque-hover: #1c5987;
  --cor-claro-suave: #7f8c8d;
  --cor-claro-titulo: #2c3e50;

  /* Cores Ativas por padrão (modo escuro) */
  --cor-fundo-principal: #0b0c12;
  --cor-fundo-secundario: #2c3e50;
  --cor-texto: #f5f7fa;
  --cor-destaque: #3498db;
  --cor-destaque-btn: #3498db;
  --cor-destaque-hover: #2980b9;
  --cor-suave: #95a5a6;
  --cor-titulo: #ecf0f1;
}

/* Detecta preferência do usuário com media query */
@media (prefers-color-scheme: light) {
  :root {
    --cor-fundo-principal: var(--cor-claro-fundo-principal);
    --cor-fundo-secundario: var(--cor-claro-fundo-secundario);
    --cor-texto: var(--cor-claro-texto);
    --cor-destaque: var(--cor-claro-destaque);
    --cor-destaque-hover: var(--cor-claro-destaque-hover);
    --cor-suave: var(--cor-claro-suave);
    --cor-titulo: var(--cor-claro-titulo);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
